
/* welcome bolimi mediasi */

@media (max-width: 550px) {
 .bac>h2{
    font-size: 35px;
 }
 .bac>p{
    text-align: center;
    padding: 0 50px;
    line-height: 30px;
 }
}

@media(max-width:500px){
    header{
        flex-direction: column;
        padding: 5px;
    }
    nav{
        margin-bottom: 5px;
    }
}

@media(max-width:450px){
    .bac>h2{
        font-size: 30px;
     }
}

@media(max-width:400px){
    .bac>h2{
        font-size: 25px;
     }
}

@media(max-width:350px){
    .bac>h2{
        font-size: 25px;
        padding: 0px 51px;
        text-align: center;
     }
}

/* Service bolimi mediasi */


@media (max-width: 768px) {
    .section-title {
        font-size: 2em;
    }

    .service-title {
        font-size: 1.5em;
    }

    .service-description {
        font-size: 0.95em;
    }
}

/* A`zoliklar bolimi mediasi */

@media (max-width: 992px) {
    .plan-packages .grid-item {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .plan-packages .grid-item {
        flex: 1 1 100%;
    }
}

/* Biz bilan bog`lanish bolimi mediasi */
@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-info {
        width: 100%;
        margin-bottom: 30px;
    }

    .contact-form {
        width: 100%;
    }

    .section-title {
        font-size: 28px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
    }

    .contact-form button {
        font-size: 16px;
        padding: 12px 24px;
    }
}

@media (max-width: 576px) {
    .contact-content {
        padding:  0 0 20px 0;
        border-radius: 0;
    }

    .contact-info {
        border-radius: 0;
        .contact-details {
            padding: 20px;
        }
    }
    .contact-form {
        padding: 0 20px;
    }
}

